.header {
  background: white;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 999;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.logo h1 {
  font-size: 24px;
  color: #0b3d91;
  margin: 0;
}

.logo p {
  font-size: 12px;
  color: gray;
}

.nav {
  display: flex;
  gap: 26px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-link:hover {
  color: #0b3d91;
}

.nav-link.active {
  color: #0b3d91;
  font-weight: 600;
}
